// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../../node_modules/bootstrap/scss/bootstrap";
// Then add additional custom code here
h1 {
    color: #631919;
  }

a {
    color: #631919;
}

button.btn.btn-primary {
    background-color: brown !important;
    border-color: brown !important;
    color: white !important;
}

.nav-link.active {
    color: brown !important;   
    font-weight: bold;            
    text-decoration: underline;   
  }

.navbar-brand.active {
    color: brown !important;   
    font-weight: bold;            
    text-decoration: underline;   
  }