.hidden{
    display: none;
}

.friend-details{
    background-color: #4CAF50; 
    color: white;
    border: none;            
    border-radius: 40px;
    padding: 8px 16px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.calendar {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 1px;
    overflow: auto;
    padding: 0%;
}

.flexboxnowidth {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: sticky;
    left: 0;
    z-index: 2;
    background: white;
    max-width: 45px;
}

.empty {
    height: 32px;
}

.time {
    margin-left: auto;
    height: 30px;
}

.time p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}

.dayflexbox {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 1;
    min-width: 55px;
}

.date_header {
    flex: 1;
    margin: auto;
}

.date_header p {
    margin-bottom: 0.5rem !important; 
    margin-top: 0.5rem !important;
    font-size: 0.8rem;
}

.hour_timeslot, .hour_timeslot_togglable {
    flex: none;
    display: flex;
    flex-direction: column;
    height: 30px;
    border: solid white 1px;
}

.hour_timeslot > *,.hour_timeslot_togglable > * {
    flex: 1;
}

.gray {
    background-color: lightgray;
}

.green {
    background-color: green;
}

.yellowgreen {
    background-color: yellowgreen;
}

.vr {
  border-left: 2px solid;
}

.Bad4{
    background-color: rgba(196, 39, 39, 0.692);
}

.Bad3{
    background-color: rgba(179, 77, 37, 0.658);
}

.Bad2{
    background-color: rgba(199, 113, 15, 0.699);
}

.Bad1{
    background-color: rgba(230, 192, 68, 0.897);
}

.Neutral{
    background-color: rgb(228, 221, 147);
}

.Good1{
    background-color:rgb(153, 207, 83);
}

.Good2{
    background-color:rgb(50, 178, 86);
}

.Good3{
    background-color:rgb(61, 135, 32);
}

.Good4{
    background-color:green;
}


.info-box {
  width: 60%;
  margin: 16px auto;
  padding: 12px 16px;
  background-color: #f5f7ff;
  border-left: 4px solid #4a6cff;
  border-radius: 6px;
}

.info-toggle {
  width: 28px; 
  height: 28px;
  border-radius: 50%;
  border: none;
  background-color: #4a6cff;
  color: white;
  font-weight: bold;
  cursor: pointer;

  display: flex;            
  align-items: center;
  justify-content: center;

  font-size: 14px; 
}

